<!-- <h1 class="title"
    [innerText]="'home.title' | translate"></h1>
<p class="description"
    [innerText]="'home.description' | translate"></p> -->

    <nb-layout>
        <nb-layout-header fixed>Company Name</nb-layout-header>

        <nb-sidebar>Sidebar Content</nb-sidebar>

        <nb-layout-column>Page Content
            <nb-card>
                <nb-card-header>
                    header
                </nb-card-header>
                <nb-card-body>
                    content
                </nb-card-body>
                <nb-card-footer>
                    footer
                </nb-card-footer>
            </nb-card>
        </nb-layout-column>
      </nb-layout>
